server {
    listen 80;
    listen [::]:80;

    root /var/www/rajutest;
    index index.html index.htm;

    server_name rajutest.com www.rajutest.com;

    location / {
        try_files $uri $uri/ =404;
    }
}
